/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, button, input {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slider {
  max-width: 2360px;
  margin: 0 auto 292px;
  overflow-x: hidden;
}

@media (max-width: 1919px) {
  .slider {
    margin: 0 auto 252px;
  }
}

@media (max-width: 1279px) {
  .slider {
    margin: 0 auto 205px;
  }
}

@media (max-width: 929px) {
  .slider {
    margin: 0 auto 200px;
  }
}

@media (max-width: 629px) {
  .slider {
    margin: 0 auto 156px;
  }
}

.slider__heading {
  margin: 0 0 30px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 929px) {
  .slider__heading {
    margin: 0 0 20px;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
  }
}

@media (max-width: 549px) {
  .slider__heading {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }
}

.slider__btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 0 30px;
}

@media (max-width: 1279px) {
  .slider__btn-group {
    margin: 0 0 20px;
  }
}

@media (max-width: 929px) {
  .slider__btn-group {
    gap: 0;
    margin: 0 0 40px;
  }
}

@media (max-width: 767px) {
  .slider__btn-group {
    gap: 10px;
  }
}

@media (max-width: 549px) {
  .slider__btn-group {
    margin: 0 0 20px;
  }
}

.slider__btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 767px) {
  .slider__btn {
    padding: 10px 12px;
  }
}

@media (max-width: 549px) {
  .slider__btn {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
}

.slider__btn:focus, .slider__btn:hover {
  border: 1px solid #292b33;
}

.slider__btn:disabled {
  border: 1px solid #D4D5D6;
  background-color: #EAEAEB;
  color: #7F8085;
}

@media (max-width: 767px) {
  .slider__btn-mob {
    display: none;
  }
}

.slider__btn.slider-button-active {
  background-color: #292b33;
  color: #FFFFFF;
}

.slider__inner {
  position: relative;
  max-width: 1740px;
  min-height: 766px;
  margin: 0 auto 97px;
  padding: 80px;
  border-radius: 30px;
  background-color: #292b33;
}

@media (max-width: 1919px) {
  .slider__inner {
    width: 89%;
    min-height: 757px;
    margin: 0 auto 60px;
    padding: 78px 0 73px;
  }
}

@media (max-width: 1279px) {
  .slider__inner {
    width: 92%;
  }
}

@media (max-width: 1059px) {
  .slider__inner {
    min-height: 706px;
    padding: 60px 0 40px;
  }
}

@media (max-width: 929px) {
  .slider__inner {
    min-height: 686px;
    margin: 0 auto 60px;
    padding: 50px 0 30px;
  }
}

@media (max-width: 629px) {
  .slider__inner {
    width: 100%;
    margin: 0 0 40px;
    border-radius: 0;
  }
}

@media (max-width: 449px) {
  .slider__inner {
    min-height: 532px;
    padding: 30px 0 20px;
  }
}

.slider__list-card {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 0;
}

@media (max-width: 449px) {
  .slider__list-card {
    gap: 8px;
  }
}

.slider__item-card {
  width: 380px;
  min-height: 606px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 200ms;
}

@media (max-width: 449px) {
  .slider__item-card {
    min-height: 482px;
    margin: 0 calc((100vw - 380px) / 2);
  }
}

@media (max-width: 399px) {
  .slider__item-card {
    width: calc(100vw - 20px);
    margin: 0;
  }
}

.slider__item-card:first-child {
  margin: 0 0 0 80px;
}

@media (max-width: 1919px) {
  .slider__item-card:first-child {
    margin: 0 0 0 60px;
  }
}

@media (max-width: 1059px) {
  .slider__item-card:first-child {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 929px) {
  .slider__item-card:first-child {
    margin: 0 0 0 32px;
  }
}

@media (max-width: 449px) {
  .slider__item-card:first-child {
    margin: 0 calc((100vw - 380px) / 2);
  }
}

@media (max-width: 399px) {
  .slider__item-card:first-child {
    margin: 0 0 0 8px;
  }
}

.slider__item-card.slider-item-active {
  transform: translateY(-20px);
}

@media (max-width: 449px) {
  .slider__item-card.slider-item-active {
    transform: translateY(-10px);
  }
}

.slider__inner-card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 178px;
  margin: 0;
  padding: 40px 33px 20px;
  border-radius: 20px 20px 0 0;
}

@media (max-width: 449px) {
  .slider__inner-card-title {
    min-height: 122px;
    padding: 30px 20px 10px;
  }
}

.slider__title-d {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

@media (max-width: 449px) {
  .slider__title-d {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
  }
}

.slider__text-card {
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@media (max-width: 449px) {
  .slider__text-card {
    min-height: auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
}

.slider__text-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
}

@media (max-width: 449px) {
  .slider__text-button-wrapper {
    height: 48px;
  }
}

.slider__text-button-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media (max-width: 449px) {
  .slider__text-button-price {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.slider__text-list {
  padding: 10px 30px 0;
  background-color: #FFFFFF;
}

@media (max-width: 449px) {
  .slider__text-list {
    padding: 4px 0 0;
  }
}

.slider__text-item {
  min-height: 60px;
  padding: 20px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@media (max-width: 449px) {
  .slider__text-item {
    min-height: 50px;
    padding: 16px 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
}

.slider__item-card-1 {
  background-color: #EBFEFF;
}

.slider__item-card-1 .slider__text-card {
  color: #35B4B9;
}

.slider__item-card-1 .slider__text-button-wrapper {
  background-color: #35B4B9;
}

.slider__item-card-1 .slider__text-button-price {
  color: #EBFEFF;
}

.slider__item-card-1 .slider__text-button:focus,
.slider__item-card-1 .slider__text-button:hover {
  background-color: #FFFFFF;
  color: #35B4B9;
}

.slider__item-card-1 .slider__text-button:active {
  opacity: 0.5;
}

.slider__item-card-1 .slider__text-list {
  border-bottom: 1px solid rgba(53, 180, 185, 0.4);
}

.slider__item-card-1 .slider__text-item:not(:last-child) {
  border-bottom: 1px solid rgba(53, 180, 185, 0.4);
}

.slider__item-card-2 {
  background-color: #FFEDDC;
}

.slider__item-card-2 .slider__text-card {
  color: #FF5C00;
}

.slider__item-card-2 .slider__text-button-wrapper {
  background-color: #FF5C00;
}

.slider__item-card-2 .slider__text-button-price {
  color: #FFEDDC;
}

.slider__item-card-2 .slider__text-button:focus,
.slider__item-card-2 .slider__text-button:hover {
  background-color: #FFFFFF;
  color: #FF5C00;
}

.slider__item-card-2 .slider__text-button:active {
  opacity: 0.5;
}

.slider__item-card-2 .slider__text-list {
  border-bottom: 1px solid rgba(255, 92, 0, 0.4);
}

.slider__item-card-2 .slider__text-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 92, 0, 0.4);
}

.slider__item-card-2 .slider__text-item:not(:first-child) {
  position: relative;
  padding: 20px 0 20px 20px;
}

@media (max-width: 449px) {
  .slider__item-card-2 .slider__text-item:not(:first-child) {
    padding: 16px 20px 16px 35px;
  }
}

.slider__item-card-2 .slider__text-item:not(:first-child)::before {
  content: '+';
  position: absolute;
  top: 20px;
  left: 0;
  color: #FF5C00;
}

@media (max-width: 449px) {
  .slider__item-card-2 .slider__text-item:not(:first-child)::before {
    top: 16px;
    left: 20px;
  }
}

.slider__item-card-2 .slider__text-card-2 {
  padding: 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #FF5C00;
}

@media (max-width: 449px) {
  .slider__item-card-2 .slider__text-card-2 {
    padding: 27px 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
}

.slider__item-card-3 {
  background-color: #EFEFFD;
}

.slider__item-card-3 .slider__text-card {
  color: #6F57EB;
}

.slider__item-card-3 .slider__text-button-wrapper {
  background-color: #6F57EB;
}

.slider__item-card-3 .slider__text-button-price {
  color: #EFEFFD;
}

.slider__item-card-3 .slider__text-button:focus,
.slider__item-card-3 .slider__text-button:hover {
  background-color: #FFFFFF;
  color: #6F57EB;
}

.slider__item-card-3 .slider__text-button:active {
  opacity: 0.5;
}

.slider__item-card-3 .slider__text-list {
  border-bottom: 1px solid rgba(111, 87, 235, 0.4);
}

.slider__item-card-3 .slider__text-item:not(:last-child) {
  border-bottom: 1px solid rgba(111, 87, 235, 0.4);
}

.slider__item-card-4 {
  background-color: #FCDDEC;
}

.slider__item-card-4 .slider__text-card {
  color: #EF5DA8;
}

.slider__item-card-4 .slider__text-button-wrapper {
  background-color: #EF5DA8;
}

.slider__item-card-4 .slider__text-button-price {
  color: #FCDDEC;
}

.slider__item-card-4 .slider__text-button:focus,
.slider__item-card-4 .slider__text-button:hover {
  background-color: #FFFFFF;
  color: #EF5DA8;
}

.slider__item-card-4 .slider__text-button:active {
  opacity: 0.5;
}

.slider__item-card-4 .slider__text-list {
  border-bottom: 1px solid rgba(239, 93, 168, 0.4);
}

.slider__item-card-4 .slider__text-item {
  padding: 16px 0;
}

.slider__item-card-4 .slider__text-item:not(:last-child) {
  border-bottom: 1px solid rgba(239, 93, 168, 0.4);
}

@media (max-width: 449px) {
  .slider__item-card-4 .slider__text-item {
    padding: 12px 20px;
  }
}
/*# sourceMappingURL=style.css.map */