$dark-grey: #54555C; //dark-grey-80
$dark: #292b33; //dark-grey
$dark-grey-60: #7F8085;
$dark-grey-20: #D4D5D6;
$dark-grey-10: #EAEAEB;
$orange: #FF5C00; // Secondary-5
$blue: #6F57EB; //$iris-100
$medium-blue: #7D7FF2; //iris-80
$azure: #EBFEFF; // Secondary-2
$turquoise: #35B4B9; //Secondary-1
$secondary-4: #FFEDDC;
$white: #FFFFFF;
$fuschia-100: #EF5DA8;
$fuschia-60: #FCDDEC;
$iris-10: #EFEFFD;
$iris-20: #DFDFFC;